# Foundry
out/
cache/
broadcast/

# Noir
circuits/*/target/
circuits/shared/target/

# Dependencies
lib/
node_modules/

# Env
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
